<footer class="container-fluid">
    <div class="container-fluid footer-2">
        <div class="container" id="contact">
            <div class="row">
                <div class="col-md-3 logo-footer">
                    <a href="">
                        <img src="~/Asset/image/LogoABC.png" alt="logo" />
                    </a>
                </div>
                <div class="col-md-4 link-lk">
                    <h4>LIÊN HỆ</h4>
                    <a href="">Địa chỉ : Tòa nhà Dream House, số 63, ngõ 136 Chùa Láng, Quận Đống Đa, Hà Nội</a>
                    <a href="#">Số Điện Thoại : 0916300750</a>
                    <a href="mailto:phungtruongmta@gmail.com">Email : phungtruongmta@gmail.com</a>
                </div>
                <div class="col-md-5 link-lk">
                    <h4>ĐĂNG KÝ ĐỂ ĐƯỢC TƯ VẤN </h4>
                    <div class="form-dk">
                        <form action="https://xuanphiielts.com/information" method="post">
                            <input type="hidden" name="_token" value="Koe2A7L66l27AHffXyJLZOvsJoOHiU265YwNpCec">								<div class="form-group">
                                <input type="text" class="form-control" id="" aria-describedby="text" name="phone" placeholder="Nhập vào số điện thoại">
                            </div>
                            <button type="submit" class="btn btn-warning">Đăng Ký</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="back-to-top" style="display: none;">
    <div class="back-to-top-button">
        <i class="fas fa-angle-double-up"></i>
    </div>
</section>
<section class="menu-right">
    <div class="d-flex flex-column">
        <div class="right-icon">
            <a target="_blank" href="" data-toggle="modal" data-target="#search">
                <div class="box-menu-right">
                    <img src="https://xuanphiielts.com/image/search.png" alt="">
                </div>
                <span class="right-icon-content">Tìm Kiếm</span>
            </a>

        </div>
        <div class="right-icon">
            <a target="_blank" href="https://xuanphiielts.com/khoa-hoc/index.html">
                <div class="box-menu-right">
                    <img src="https://xuanphiielts.com/images/contacts/zAVx_image_42484.png" alt="">
                </div>
                <span class="right-icon-content">Lịch khai giảng</span>
            </a>

        </div>
        <div class="right-icon">
            <a target="_blank" href="tel:0916300750">
                <div class="box-menu-right">
                    <img src="https://xuanphiielts.com/images/contacts/M2IC1g0_image_Icon contact-05.png" alt="">
                </div>
                <span class="right-icon-content">0916 300 750</span>
            </a>

        </div>
        <div class="right-icon">
            <a target="_blank" href="https://www.facebook.com/phamxuan.phi">
                <div class="box-menu-right">
                    <img src="https://xuanphiielts.com/images/contacts/FkAneuy_image_Icon contact-06.png" alt="">
                </div>
                <span class="right-icon-content">Mr . T</span>
            </a>

        </div>

    </div>
</section>
<div class="modal fade" id="search" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content  custom-search">
            <div class="modal-header">

                <h4 class="modal-title">Tìm Kiếm</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form action="https://xuanphiielts.com/search" method="post">
                    <input type="hidden" name="_token" value="Koe2A7L66l27AHffXyJLZOvsJoOHiU265YwNpCec">						<div class="form-group">
                        <input type="text" class="form-control" id="" aria-describedby="text" name="value" placeholder="Tìm Kiếm">
                        <input type="submit" class="" value="Tìm Kiếm">
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="js/backtotop.js"></script>