
<section class="section-banner">
    <div class="container-fluid title-background">
        <div class="banner owl-carousel owl-theme">
            <div class="item">
                <div class="silder-image">
                    <img src="image/bg1.jpg"
                         alt="First slide">
                </div>
                <div class="col-md-12 banner-title">
                    <span class="text text-1">English</span>
                    <span class="text text-2 ml-3">
                        cùng T&T Ielts
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="silder-image">
                    <img src="image/bg1.jpg"
                         alt="First slide">
                </div>

            </div>
            <div class="item">
                <div class="silder-image">
                    <img src="image/bg1.jpg"
                         alt="First slide">
                </div>
            </div>
        </div>
    </div>


    @*<section class="section-banner">
        <div class="container-fluid title-background">
            <div class="banner owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-4062px, 0px, 0px); transition: all 0.25s ease 0s; width: 9478px;">
                        <div class="owl-item cloned" style="width: 1344px; margin-right: 10px;">
                            <div class="item">
                                <div class="silder-image">
                                    <img src="https://xuanphiielts.com/images/sliders/1571037184_image_flat(2).png" alt="First slide">
                                </div>
                                <div class="col-md-12 banner-title">

                                    <div class="text ml-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 1344px; margin-right: 10px;">
                            <div class="item">
                                <div class="silder-image">
                                    <img src="https://xuanphiielts.com/images/sliders/1570777154_image_flat(1).png" alt="First slide">
                                </div>
                                <div class="col-md-12 banner-title">

                                    <div class="text ml-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1344px; margin-right: 10px;">
                            <div class="item">
                                <div class="silder-image">
                                    <img src="https://xuanphiielts.com/images/sliders/1570524824_image_1.jpg" alt="First slide">
                                </div>
                                <div class="col-md-12 banner-title">

                                    <div class="text ml-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 1344px; margin-right: 10px;">
                            <div class="item">
                                <div class="silder-image">
                                    <img src="https://xuanphiielts.com/images/sliders/1571037184_image_flat(2).png" alt="First slide">
                                </div>
                                <div class="col-md-12 banner-title">

                                    <div class="text ml-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 1344px; margin-right: 10px;">
                            <div class="item">
                                <div class="silder-image">
                                    <img src="https://xuanphiielts.com/images/sliders/1570777154_image_flat(1).png" alt="First slide">
                                </div>
                                <div class="col-md-12 banner-title">

                                    <div class="text ml-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 1344px; margin-right: 10px;">
                            <div class="item">
                                <div class="silder-image">
                                    <img src="https://xuanphiielts.com/images/sliders/1570524824_image_1.jpg" alt="First slide">
                                </div>
                                <div class="col-md-12 banner-title">

                                    <div class="text ml-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 1344px; margin-right: 10px;">
                            <div class="item">
                                <div class="silder-image">
                                    <img src="https://xuanphiielts.com/images/sliders/1571037184_image_flat(2).png" alt="First slide">
                                </div>
                                <div class="col-md-12 banner-title">

                                    <div class="text ml-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
            </div>
        </div>
    </section>*@


</section>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/banner-carousel-config.js"></script>
