
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Client/Shared/_LayoutMaster.cshtml";
}

<section class="section-11" style="
                    background-image: url(https://xuanphiielts.com/images/sliders/background.jpg) !important
            ">
    <div class="back-ground" style="background : #000"></div>
    <div class="container-fluid">
        <div class="container work-shop">
            <div>


            </div>

        </div>
    </div>
</section>

<section class="section-2">
    <div class="container-fluid">
        <div class="container">
            <h3 class="section-title pt-4">Hot Posts</h3>
            <div class="row pb-5">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="course-box">
                        <img src="https://xuanphiielts.com/images/blogs/vEV2f12_image_24 WEEKS.jpg" alt="">
                        <div class="overlay">
                            <div class="course-title">
                                <span>
                                    Là một người 2x vẫn mù tiếng Anh nhưng lại "may mắn" đạt 8.0 IELTS, mình biên soạn riêng lộ trình từ 0 lên 6.0 IELTS để giúp các bạn vượt qua "khởi đầu nan" này!
                                </span>




                                <a class="view-more" href="https://xuanphiielts.com/post/tu-0-len-60-trong-24-tuan-1574158857.html">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="course-box">
                        <img src="https://xuanphiielts.com/images/librarys/ASjSmyg_image_3.png" alt="">
                        <div class="overlay">
                            <div class="course-title">
                                <span>
                                    Học sinh cấp 1 nghe chép chính tả như thế nào mà các IELTS-ers phải học theo thế nhỉ?
                                </span>




                                <a class="view-more" href="https://xuanphiielts.com/post/het-diec-listening-voi-phuong-phap-hoc-sinh-cap-1-1570696294.html">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="course-box">
                        <img src="https://xuanphiielts.com/images/blogs/yTV1y2C_image_18.png" alt="">
                        <div class="overlay">
                            <div class="course-title">
                                <span>
                                    Tiếp nối phần 1, mình chia sẻ tiếp phần 2 về 2 kỹ năng - Đọc và Nghe - tưởng chừng "ngon ăn" nhất nhưng lại yêu cầu một tinh thần cực kỳ "thép" nếu muốn làm chủ nó nhé
                                </span>




                                <a class="view-more" href="https://xuanphiielts.com/post/cay-ielts-som-la-dai-phan-2-1571382197.html">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section id="thuvien" class="section-thuvien" style="
                            background-image: url(https://xuanphiielts.com/images/sliders/library_img.jpg) !important
            ">
    <div class="container-fluid" id="library">
        <div class="container">
            <h3 class="section-title text-white">Thư viện</h3>
            <div class="library">

                <div class="hieuung">
                    <a href="https://xuanphiielts.com/thu-vien/nghe" class="library-box">
                        <div class="box-chu">

                        </div>
                        <span>Nghe</span>

                        <img src="https://xuanphiielts.com/images/cate-librarys/UNLC_image_nghe.png" alt="">
                    </a>
                </div>
                <div class="hieuung">
                    <a href="https://xuanphiielts.com/thu-vien/noi" class="library-box">
                        <div class="box-chu">

                        </div>
                        <span>Nói</span>

                        <img src="https://xuanphiielts.com/images/cate-librarys/Sb73_image_noi.png" alt="">
                    </a>
                </div>
                <div class="hieuung">
                    <a href="https://xuanphiielts.com/thu-vien/doc-1570776859" class="library-box">
                        <div class="box-chu">

                        </div>
                        <span>Đọc</span>

                        <img src="https://xuanphiielts.com/images/cate-librarys/4wex_image_eye2.png" alt="">
                    </a>
                </div>
                <div class="hieuung">
                    <a href="https://xuanphiielts.com/thu-vien/viet-1569851557" class="library-box">
                        <div class="box-chu">

                        </div>
                        <span>Viết</span>

                        <img src="https://xuanphiielts.com/images/cate-librarys/hMM1_image_write.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="container-fluid">
        <div class="container" id="khoahoc">
            <h3 class="section-title">Khóa học</h3>
            <div class="row pb-5">

                <div class="col-md-6 library-left">
                    <h5 id="khoahoc" class="section-title"><a href="https://xuanphiielts.com/khoa-hoc/index.html" style="color: black">Offline</a></h5>
                    <a href="https://xuanphiielts.com/khoa-hoc/index.html">
                    </a><div class="tree-skill">
                        <a href="https://xuanphiielts.com/khoa-hoc/index.html">
                            <img class="tree" src="image/tree1.png" alt="">
                        </a><div class="skill">
                            <a href="https://xuanphiielts.com/khoa-hoc/index.html">
                            </a><a href="https://xuanphiielts.com/khoa-hoc/index.html">
                                Khóa rễ
                            </a>
                        </div>
                        <div class="skill skill-2">
                            <a href="https://xuanphiielts.com/khoa-hoc/index.html">
                                Khóa gốc
                            </a>
                        </div>
                        <div class="skill skill-3">
                            <a href="https://xuanphiielts.com/khoa-hoc/index.html">
                                Khóa thân
                            </a>
                        </div>
                        <div class="skill skill-4">
                            <a href="https://xuanphiielts.com/khoa-hoc/index.html">
                                Khóa ngọn
                            </a>
                        </div>

                    </div>

                </div>
                <div class="col-md-6 library-right" id="online">
                    <h5 class="section-title">Online</h5>
                    <div class="row">
                        <div class="col-md-12 mt-5">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/I7keA86hTXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            <a target="_blank" class="dk-online btn btn-outline-secondary" href="https://edumall.vn/course/xuan-phi-ielts-mat-goc-khong-con-soc-voi-ielts.html?utm_source=teacher&amp;utm_medium=teacher_sell&amp;utm_campaign=PhiPX&amp;utm_term=0008&amp;utm_content=PhiPX.01">Tìm Hiểu Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="section-6 pb-4">
    <div class="container-fluid">
        <div class="container">
            <h3 class="section-title">
                Blog Chia Sẻ
            </h3>

            <div class="blog">
                <div class="d-flex justify-content-between blog-title">
                    <a href="https://xuanphiielts.com/chia-se/oi-gioi-thong-nao-roi-cong-thuc-peer-writing-1588842937.html" class="title-blog">ƠI GIỜI THÔNG NÃO RỒI! - CÔNG THỨC PEER WRITING</a>
                    <div class="time-blog">
                        <i class="fa fa-calendar-alt"></i>
                        <span>07-05-2020</span>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="blog-img">
                        <img src="https://xuanphiielts.com/images/blogs/oaW5iX7_image_writing-01.jpg" class="img-reponsive" alt="">
                    </div>
                    <span>
                        Ơn giời, cuối cùng mình cũng tìm ra được một phương pháp thông não hiệu quả cho sự đau đầu này rồi. Mình xin chia sẻ với các bạn – công thức PEER.
                    </span>
                    <a href="https://xuanphiielts.com/chia-se/oi-gioi-thong-nao-roi-cong-thuc-peer-writing-1588842937.html" class="doctiep btn btn-outline-warning" style="color: black;">
                        Đọc tiếp
                    </a>
                </div>
                <div class="border-bottom">

                </div>
            </div>

            <div class="blog">
                <div class="d-flex justify-content-between blog-title">
                    <a href="https://xuanphiielts.com/chia-se/speaking-80-lam-sao-cai-cam-tu-vung-khung-1588842548.html" class="title-blog">SPEAKING 8.0+: LÀM SAO CÀI CẮM TỪ VỰNG “KHỦNG”?</a>
                    <div class="time-blog">
                        <i class="fa fa-calendar-alt"></i>
                        <span>07-05-2020</span>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="blog-img">
                        <img src="https://xuanphiielts.com/images/blogs/IfD1_image_speaking1-01.jpg" class="img-reponsive" alt="">
                    </div>
                    <span>
                        Gốc rễ của vấn đề chính là nhiều bạn chỉ tập trung tích lũy cho thật nhiều TỪ MỚI, chỉ tập chung số lượng mà quên đi chất lượng.
                    </span>
                    <a href="https://xuanphiielts.com/chia-se/speaking-80-lam-sao-cai-cam-tu-vung-khung-1588842548.html" class="doctiep btn btn-outline-warning" style="color: black;">
                        Đọc tiếp
                    </a>
                </div>
                <div class="border-bottom">

                </div>
            </div>

            <div class="blog">
                <div class="d-flex justify-content-between blog-title">
                    <a href="https://xuanphiielts.com/chia-se/speaking-lam-sao-len-dinh-80-1588842272.html" class="title-blog">SPEAKING – LÀM SAO LÊN ĐỈNH 8.0?</a>
                    <div class="time-blog">
                        <i class="fa fa-calendar-alt"></i>
                        <span>07-05-2020</span>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="blog-img">
                        <img src="https://xuanphiielts.com/images/blogs/0darNMb_image_speaking2-01.jpg" class="img-reponsive" alt="">
                    </div>
                    <span>
                        Nếu muốn có khả năng nói tiếng Anh thật thuyết phục trong phòng thi và đạt điểm số mơ ước, các bạn hãy chú ý đến 4 yếu tố.
                    </span>
                    <a href="https://xuanphiielts.com/chia-se/speaking-lam-sao-len-dinh-80-1588842272.html" class="doctiep btn btn-outline-warning" style="color: black;">
                        Đọc tiếp
                    </a>
                </div>
                <div class="border-bottom">

                </div>
            </div>
            <div style="text-align: center">
                <a class="btn btn-xuanphi" href="https://xuanphiielts.com/chia-se">Xem Thêm</a>
            </div>

        </div>
    </div>

</section>

<section class="section-7" style="
                        background-image: url(https://xuanphiielts.com/images/sliders/coment.jpg) !important;
            ">
    <div class="back-ground"></div>
    <div class="container-fluid">
        <div class="container danhgia">
            <h3 class="section-title text-dark">Cảm nhận của học viên về Xuan Phi Ielts</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="coment-box">
                        <div class="comment-title" id="style-4">
                            Hết một nửa chặng đường rồi mới viết tâm thư gửi thầy giáo đây
                            Chả phải pr quảng cáo gì nhưng một câu thật lòng,việc mình lựa chọn học IELTS cùng thầy Phi thay vì các trung tâm nổi tiếng khác đến bây giờ phải khẳng định là quá đúng đi!
                            Mình thì chẳng phải đứa lười đâu, toàn được thầy khen là chăm với ham học đấy, mà mỗi tội mắc cái tật “học trước quên sau”:)
                            Thế mà thầy Phi chữa được luôn. Nhiều khi đi học rồi đi làm bận túi bụi nhưng mình cố sắp xếp để không nghỉ một buổi học nào.
                            Không khí lớp học bao giờ cũng vui vẻ và phải nói là cực kì cực kì thân thiện, mình ít thấy giáo viên nào vừa tận tâm lại gần gũi với học viên như thế.
                            Chưa bao giờ mình nghĩ mình có thể học và nhớ được 20- 30 từ mới một ngày, thế mà nhờ cách học qua ứng dụng Cram của thầy, đâu chỉ riêng mình, cả lớp đều nạp từ vựng ầm ầm.
                            Mình còn nhớ hôm thầy giao thử thách “SPEED UP”, mình không phân vân giây nào mà đăng kí luôn, chắc bởi quyết định đúng đắn vậy mà giờ mình đã cải thiện rõ ràng không chỉ ngữ pháp – từ vựng mà còn kĩ năng mở rộng idea nữa.
                            Chỉ biết cảm ơn thầy Phi và cũng cảm ơn chính mình vì đã có sự lựa chọn đúng đắn đến vậy ❤
                        </div>
                        <div class="coment-member">
                            <div class="comment-avt">
                                <img src="https://xuanphiielts.com/images/student/GsuM_image_hv1.png" alt="">
                            </div>
                            <div class="coment-name">
                                <a href="">Kim Tuyến Trần</a> <br>
                                <span>Khóa Thân</span>
                                <div class="star">
                                    <i class="fa fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="coment-box">
                        <div class="comment-title" id="style-4">
                            Mẹ bỉm sữa học tiếng anh!
                            Sau khi được một người bạn giới thiệu, mình quyết định đăng kí học IELTS thầy Phi ( trên lớp vẫn hay gọi a Phi cho thân thương  :))).
                            Mặc dù vẫn đang trong giai đoạn bỉm vắt vai, sữa ngập đầu nhưng nhờ phương pháp dạy của thầy Phi rất dễ hiểu, rõ ràng, nên mình nhớ ngay và còn nhớ rất lâu nữa. Tất cả kiến thức đều được thầy đúc kết lại dưới dạng công thức hoặc các bước làm bởi vậy mà dễ dàng áp dụng và không bị quên (cứ 1+1 =2 là nhớ ngay  :D)
                            Dạy nhiều, ck thì hum nào cũng 10h tối mới về chả có tg học nên đành ngồi chơi Game trên Cram để học từ vựng của thầy Phi vậy- vừa giải trí vừa dễ nhớ. Đã thế, thỉnh thoảng đến lớp lại được nói chuyện với mấy anh chị nước ngoài siêu hài hước và vui tính. Đi học thật là vui  :D
                            Cảm ơn a Phi đẹp zai  :))
                        </div>
                        <div class="coment-member">
                            <div class="comment-avt">
                                <img src="https://xuanphiielts.com/images/student/nr8K_image_hv3.png" alt="">
                            </div>
                            <div class="coment-name">
                                <a href="">Hong Nguyen – Giảng viên ĐH ...</a> <br>
                                <span>Khoá Rễ</span>
                                <div class="star">
                                    <i class="fa fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="coment-box">
                        <div class="comment-title" id="style-4">
                            Vừa hnao còn hoang mang sắp ra trường mà TA bập bẹ ntn thì phải làm sao , mà sau khi kết thúc lớp Thân + 1 chút cố gắng bản thân thì bây giờ speaking become easy than ever.
                            Và đồng hành trong quá trình đó với bản thân là anh : Phạm Xuân Phi / Xuân Phi Ielts
                            Lớp học luôn nhẹ nhàng , học như chơi nhưng thật sự hiệu quả.
                            🚩Mỗi buổi speaking luôn có 2 giáo viên bản ngữ cùng practice và sửa pronunciation , được học cách tư duy , cách mở rộng về các phần trong bài ielts speaking
                            🚩Listening thì chắc cũng chỉ cho section rồi nghe thôi nhỉ ? Đúng r , chỉ nghe thôi nhưng được hướng dẫn từ cách nghe transcipt từ những cái ending sound hay linking sound , tất cả đều được note lại và hướng dẫn nhiệt tình từ a Phi và bạn trợ giảng hiền như bụt . Ngoài ra listening ở lớp Thân còn có speed up , mng có thể nghe dictation mỗi ngày - điều này cải thiện trình độ rõ rệt sau 3 tuần luôn.
                            🚩writting và reading cũng được hướng dẫn chi tiết và sát với bài ielts. Tuy nhiên 2 phần này hơi khó hơn so với 2 ký năng trên nên để dành ở cuối lớp Thân và lớp Ngọn , và cũng có speed up cho reading luôn ( mỗi ngày 50 từ vocab được chọn từ các section khó từ quyển cam 9-14)
                            🔒Important thing: Anh giáo viên rất nhiệt tình và tâm huyết , sẵn sàng kèm thêm cho những ai cảm thấy kém , đuối hơn. Luôn lo lắng cho học sinh bị mất kiến thức . Cảm nhận của bản thân sau 2 năm lặn lội khắp cái thành phố Hà Nội học hết trung tâm nọ đến trung tâm kia , cũng ngốn kha khá tiền của phụ huynh thì mình cũng tìm được cái thang chắc chắn. Việc còn lại chỉ là nỗ lực của bản thân nữa thôi .
                            Vậy còn băn khoăn vì chưa biết học TA ở đâu , lấy Ielts như thế nào ? Thì liên hệ ngay anh Phi nhé.
                        </div>
                        <div class="coment-member">
                            <div class="comment-avt">
                                <img src="https://xuanphiielts.com/images/student/fsVc_image_hv4.png" alt="">
                            </div>
                            <div class="coment-name">
                                <a href="">Nguyen Van Tai</a> <br>
                                <span>Khóa Thân</span>
                                <div class="star">
                                    <i class="fa fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                    <i class="fas fa-star star-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</section>

<section>
    <script type="text/javascript">
        (function ($) {
            function count($this) {
                var current = parseInt($this.html(), 10);
                current = current + 1;
                $this.html(++current);
                if (current > $this.data('count')) {
                    $this.html($this.data('count'))
                } else {
                    setTimeout(function () {
                        count($this)
                    }, 50) // Tốc độ đếm số, số 1 là nhanh nhất
                }
            }

            $(".stat-count").each(function () {
                $(this).data('count', parseInt($(this).html(), 10));
                $(this).html('0');
                count($(this))
            })
        })(jQuery);


    </script>

    <script type="text/javascript" src="lib/OwlCarousel 2-2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/banner-carousel-config.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
</section>


@section banner1 {
    <section class="section-banner">
        <div class="container-fluid title-background">
            <div class="banner owl-carousel owl-theme">
                <div class="item">
                    <div class="silder-image">
                        <img src="image/bg1.jpg"
                             alt="First slide">
                    </div>
                    <div class="col-md-12 banner-title">
                        <span class="text text-1">English</span>
                        <span class="text text-2 ml-3">
                            cùng T&T Ielts
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="silder-image">
                        <img src="images/sliders/1569638872_image_library_img.jpg"
                             alt="First slide">
                    </div>
                    <div class="col-md-12 banner-title">
                        <span class="text text-1">English</span>
                        <span class="text text-2 ml-3">
                            trong tầm tay bạn
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="silder-image">
                        <img src="images/sliders/coment.jpg"
                             alt="First slide">
                    </div>
                    <div class="col-md-12 banner-title">
                        <span class="text text-1">English</span>
                        <span class="text text-2 ml-3">
                            trong 1 nốt nhạc
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/banner-carousel-config.js"></script>
}