
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Areas/Client/Views/Shared/_LayoutMaster.cshtml";
}

<section class="course-1 py-5">
    <div class="container-fluid">
        <div class="container">
            <h3 class="text-center border-bot">CÂU CHUYỆN VỀ T&T IELTS</h3>
            <div class="d-flex flex-column course-content">
                <p><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt">Xin chào!</span></strong></span></span></p>

                <p style="margin-left:24px; text-align:justify"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt">Xuất phát điểm Tiếng Anh của bạn là ở đâu? Với mình, đó là bài kiểm tra 5 điểm năm lớp 12, là danh hiệu học sinh Tiên tiến vớt được nhờ cô giáo chủ nhiệm xin cô Tiếng Anh</span><span style="font-size:14.0pt">. Lên đại học mình</span><span style="font-size:14.0pt"> cũng học Tiếng Anh hời hợt như bao đứa bạn theo khối Tự nhiên khác</span><span style="font-size:14.0pt">. Tham gia đến 4 - 5 khóa giao tiếp tại các trung tâm tiếng Anh nhưng trình</span><span style="font-size:14.0pt"> độ vẫn chỉ bập bõm dừng lại ở </span><span style="font-size:14.0pt">“Hello. How are you?</span><span style="font-size:14.0pt"> - </span><span style="font-size:14.0pt">I am fine. Thank you. And you?” </span></span></span></p>

                <p style="margin-left:24px; text-align:justify"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt">R</span><span style="font-size:14.0pt">ồi may mắn</span><span style="font-size:14.0pt"> mỉm cười khi</span><span style="font-size:14.0pt"> mình</span><span style="font-size:14.0pt"> gặp được thầy – người đã giúp mình xác định </span><span style="font-size:14.0pt">mục tiêu rõ ràng là phải học tiếng Anh</span><span style="font-size:14.0pt"> để làm việc</span><span style="font-size:14.0pt">, phải có IELTS để đi du học. Và</span><span style="font-size:14.0pt"> m</span><span style="font-size:14.0pt">ọi thứ thay đổi nhanh chóng mặt</span><span style="font-size:14.0pt"> chỉ trong 1 năm, mình đạt được IELTS 7.0 và không còn run rẩy mỗi khi “Tây” bắt chuyện.</span></span></span></p>

                <p style="margin-left:24px; text-align:justify"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt">Hiện</span><span style="font-size:14.0pt"> tại</span><span style="font-size:14.0pt"> mình đã có</span><span style="font-size:14.0pt"> trong tay</span><span style="font-size:14.0pt"> IELTS 8.0</span><span style="font-size:14.0pt"> (</span><span style="font-size:14.0pt">8.0</span><span style="font-size:14.0pt"> Speaking)</span><span style="font-size:14.0pt">, TOEIC 975 và hơn 2 năm kinh</span><span style="font-size:14.0pt"> nghiệm làm việc </span><span style="font-size:14.0pt">với các đối tác từ Mỹ, Hàn Quốc, Indonesia, Nhật Bản… Tiếng Anh thực sự trở thành một phần&nbsp; không thể thiếu làm nên giá trị của mình</span><span style="font-size:14.0pt"> bây giờ</span><span style="font-size:14.0pt">. </span></span></span></p>

                <p style="margin-left:24px; text-align:justify"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt">Các</span><span style="font-size:14.0pt"> bạn thấy đấy, m</span><span style="font-size:14.0pt">ình xuất</span><span style="font-size:14.0pt"> phát</span><span style="font-size:14.0pt"> muộn, nhưng không</span><span style="font-size:14.0pt"> hề bị tụt lại.</span><span style="font-size:14.0pt"> Đ</span><span style="font-size:14.0pt">ó là nhờ gặp đúng thầy, chọn đúng phương pháp học và quan trọng nhất là luôn kiên trì, nỗ lực học theo một lộ trình phù hợp với bản thân. Bây giờ đây, khi đã có thể tự làm chủ cuộc đời mình, mình muốn đem những điều mình may mắn nhận đươc từ IELTS, từ Tiếng Anh phần nào giúp đỡ các bạn trong hành trình chạm tay tới ước mơ của bản thân. Bởi mình tin rằng “đi một mình sẽ chỉ đi nhanh, còn khi đi với nhau, chúng ta sẽ cùng tiến xa”. Các bạn muốn đi cùng mình chứ?</span></span></span></p>

                <p style="margin-left:24px; text-align:center">&nbsp;</p>

                <p style="margin-left:24px; text-align:right"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt">Phùng Văn Trường & Cái Gì Đó Hữu Tiến</span></strong></span></span></p>
            </div>
            <!--<h4 class="text-center border-bot">Đăng ký Học</h4>-->
            <div style="text-align:center">
                <a target="_blank" href="https://bit.ly/IELTSofflineXuanPhi" class="btn btn-warning mt-5">Đăng ký học ngay</a>
            </div>
            <h3 class="text-center border-bot"></h3>
        </div>
    </div>
</section>
